# Build
bin/
obj/

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/*

!.vscode/extensions.json

!.vscode/settings.json

# Test
TestResults/

# Coverage
coverage/

# Docker
docker-data/

# Logs
*.log

# User files
*.user
*.suo